/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	.box{
	
	background-color: red;
	font-size: 25px;
}

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

.box{
	
	background-color: blue;
	font-size: 40px;
}
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.box{
	
	background-color: green;
	font-size: 60px;
}

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

.box{
	
	background-color: teal;
	font-size: 80px;
}
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

	.box{
	
	background-color: yellow;
	font-size: 100px;
}

}

/*Extra extra large devices (desktops, 1400px and up)*/
@media (min-width: 1400px) {

.box{
	
	background-color: aquamarine;
	font-size: 120px;
}
 }